<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cxf="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
	 http://cxf.apache.org/jaxws
	 http://cxf.apache.org/schemas/jaxws.xsd">

	<import resource="classpath:spring-data.xml" />

	<bean id="businessWSImpl"
		class="fr.afcepf.atod26.webservice.avance.business.impl.BusinessWSImpl">
		<property name="daoAdresse" ref="daoAdresseImpl" />
		<property name="daoPersonne" ref="daoPersonneImpl" />
	</bean>

	<cxf:endpoint address="/gestionPersonne" id="businessPersonne"
		implementor="#businessWSImpl" />

</beans>
